@use "../variables" as *;

.auth-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.footer-box-shadow {
  width: 100%;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.2);

  .auth-footer {
    max-width: $size-format;
    width: 80%;
    display: flex;
    margin: 0px auto 50px auto;
    padding-top: 20px;
    bottom: 0;

    .footer-box {
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .InformationAndPolicy {
    display: none;
  }

  .footer-box-shadow {
    .auth-footer {
      flex-direction: column;
      margin: 0px 20px 0px 20px;

      .footer-box {
        width: 100%;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .copyright-container {
    .copyright-sub-container {
      font-size: 12px;
      text-align: center;
      line-height: 1.5;
    }
  }
}
