@use "../variables" as *;

.homepage-container {
    width: 100%;

    .Render-HightLight-Pd {
        justify-self: center;
        max-width: $size-format;
        width: 100%;
        border-radius: 20px;

        .Render-HightLight-Pd-cpn {
            display: flex;
            justify-content: space-between;

            .Render-HightLight-Pd-title {
                font-family: $font-family-primary;
                font-size: $font-size-lg;
                font-weight: 15px;
                margin: 20px 0px 0px 0px;
            }

            .Render-HightLight-Pd-list-tag {
                display: flex;

                .Render-HightLight-Pd-tag {
                    background-color: #f5f5f5;
                    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
                    margin: 20px 20px 10px 0px;
                    font-family: $font-family-primary;
                    font-size: $font-size-sm;
                    font-weight: 15px;
                    padding: 5px 12px;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .render-view-all {
                    margin: 20px 20px 10px 0px;
                    font-family: $font-family-primary;
                    font-size: $font-size-sm;
                    font-weight: 15px;
                    padding: 5px 12px;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        .homepage-swiper {
            justify-self: center;
            display: flex;
            padding: 0px 0px 10px 0px;
            max-width: $size-format;
            width: 100%;

            .homepage-card-link {
                width: 100%;
                text-decoration: none;
            }
        }
    }

    .homepage-blog {
        justify-self: center;
        max-width: $size-format;
        min-height: 350px;
        width: 100%;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 48px;

        .tag-wrapper {
            display: flex;
            gap: 12px;
            align-items: center;

            .category-new {
                font-weight: bold;
                padding: 6px;
                border: 2px solid black;
                border-radius: 6px;
            }
        }



        .list-news {

            display: flex;
            flex-direction: row;
            margin-top: 12px;
            gap: 6px;

            .item-news {
                width: 24%;
                cursor: pointer;

                .image {
                    width: 100%;
                    height: 200px;
                    border-radius: 20px;
                    object-fit: cover;
                    margin-bottom: 10px;
                }

                p {
                    padding: 0;
                    margin: 0;
                }

            }


        }
    }

}

// Tablet styles (768px - 1023px)
@media screen and (max-width: 1023px) {
    .homepage-container {
        .Render-HightLight-Pd {
            padding: 0 16px;

            .Render-HightLight-Pd-cpn {
                flex-direction: column;

                .Render-HightLight-Pd-list-tag {
                    flex-wrap: wrap;
                }
            }
        }

        .homepage-blog {
            padding: 16px;

            .list-news {
                flex-wrap: wrap;
                gap: 16px;

                .item-news {
                    width: 48%;

                    .image {
                        height: 160px;
                    }
                }
            }
        }
    }
}

// Mobile styles (max-width: 767px)
@media screen and (max-width: 767px) {
    .homepage-container {
        .Render-HightLight-Pd {
            padding: 0 0px;

            .Render-HightLight-Pd-cpn {
                .Render-HightLight-Pd-title {
                    font-size: 18px;
                }

                .Render-HightLight-Pd-list-tag {

                    .Render-HightLight-Pd-tag,
                    .render-view-all {
                        margin: 10px 10px 5px 0px;
                        font-size: 12px;
                        padding: 4px 8px;
                    }
                }
            }
        }

        .homepage-blog {
            padding: 0px;

            .tag-wrapper {
                flex-wrap: wrap;
            }

            .list-news {
                .item-news {
                    width: 100%;

                    .image {
                        height: 180px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}